<%= provide(:title, 'Home') %>

<div class="home">
    
    <h3>Welcome to Circlindex Web site</h3>
    <p>Circlindexは、大学新入生とサークルがマッチングできるサイトです</p>
    
    <%= link_to 'Sign up now', '#', class: 'btn btn-info' %>
    
</div>
