<%= provide(:title, 'Users') %>


<div class="index">
    <h3>All Users</h3>
    <% @users.each do |user| %>
        <li>
            <%= link_to image_tag(user.picture.url), user_url(user)   %>
            <%= link_to user.name, user_url(user) %>
        </li>
    <% end %>
</div>

