/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */
 

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// miscellaneous

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



#header {
    background: rgba(222,220,220,0.3);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(173,172,172,0.8);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#not-login-logo {
    float: left;
    margin-right: 10px;
    color: rgba(173,172,172,0.8);
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: bold;
    font-size: 23.8px;
}

.items {
  color: rgba(173,172,172,0.8);
}

.home, .about, .signup, .login, .edit {
  background: rgba(173,172,172,0.3);
  padding-top: 4px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.home, .about {
  text-align: center;
}

.form-control {
  margin-bottom: 5px;
}

.create-account, .login-account, .edit-account {
  margin-top: 10px;
}

.login-account {
  margin-bottom: 10px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

